<div id="" class="" style="padding-top: 120px;"></div>
<div id="" class="filters">
  <app-filters></app-filters>
</div>

<div id="" class="filters">
  <app-filters-plus></app-filters-plus>
</div>

<div id="" class="card-transparente">
  <div class="d-flex justify-content-start">
    <p class="titulo">Results</p>
  </div>


  <app-result *ngFor="let result of results" [result]="result"></app-result>
  <app-result *ngFor="let result of results" [result]="result"></app-result>
  <app-result *ngFor="let result of results" [result]="result"></app-result>
</div>