<div id="" class="card-transparente">
  <div class="d-flex justify-content-start">
    <p class="titulo">Details</p>
  </div>

  <div class="result-card">
    <div class="row">
      <div class="col-4">
        <img [src]="local.fotoUrl" class="main-img">
      </div>

      <div class="col-4 d-flex align-items-center">
        <div style="margin-left: -20px; ">
          <p style="font-size: 12px">{{local.title}}</p>
          <p style="color: white;">
            <fa name="star"></fa>
            <fa name="star"></fa>
            <fa name="star"></fa>
            <fa name="star"></fa>
            <fa name="star"></fa>
          </p>
          <p style="font-size: 10px">{{local.distance}} km from you</p>
          <p>
            <fa name="clock-o" style="font-size: 16px" style="margin-right: 5px"></fa>
            <span style="font-size: 10px">
              <!-- <fa name="dollar"  style="margin-right: 5px; margin-left: 10px;"></fa> -->
            </span>
            <span style="font-size: 12px">
              $ - {{local.price}}
            </span>
          </p>
        </div>

      </div>

      <div class="col-4">
        <img [src]="local.fotoMap" class="map-img">
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <p style="font-size: 12px; font-weight: 600;">45 minutes</p>
    </div>
    <div class="col-5 d-flex justify-content-center align-items-center">
      <div class="d-flex align-self-center" style="width: 100%; background-color: white; height: 1px;"></div>
    </div>
    <div class="col-3">
      <p style="font-size: 12px; font-weight: 600;">$ 40,00</p>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <p style="font-size: 12px; font-weight: 600;">shower</p>
    </div>
    <div class="col-5 d-flex justify-content-center align-items-center">
      <div class="d-flex align-self-center" style="width: 100%; background-color: white; height: 1px;"></div>
    </div>
    <div class="col-3">
      <p style="font-size: 12px; font-weight: 600;">$ 10,00</p>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <p style="font-size: 12px; font-weight: 600;">air-conditioner</p>
    </div>
    <div class="col-5 d-flex justify-content-center align-items-center">
      <div class="d-flex align-self-center" style="width: 100%; background-color: white; height: 1px;"></div>
    </div>
    <div class="col-3">
      <p style="font-size: 12px; font-weight: 600;">$ 5,00</p>
    </div>
  </div>

  <hr style="width: 100%; border-top: 1px solid black;">

  <div class="row">
    <div class="col-4">
      <p style="font-size: 12px; font-weight: 600;">taxes</p>
    </div>
    <div class="col-5 d-flex justify-content-center align-items-center">
      <div class="d-flex align-self-center" style="width: 100%; background-color: white; height: 1px;"></div>
    </div>
    <div class="col-3">
      <p style="font-size: 12px; font-weight: 600;">$ 12,00</p>
    </div>
  </div>


  <!-- <div class="row">
    <div class="col">
      <p style="font-size: 12px; font-weight: 600;">45 minutes</p>

      <p style="font-size: 12px">shower</p>
      <p style="font-size: 12px">air-conditioner</p>
      <p style="font-size: 12px">taxes</p>
    </div>
  </div> -->

</div>