<div style="padding-top: 145px"></div>

<div id="" class="card-detalhe" style="margin-top: 5px;">
  <div id="" class="card-descricao">
    <div class="d-flex justify-content-start">
      <p class="titulo">Napp space</p>
    </div>

    <div class="row">
      <div class="col-6">
        <div class="form-check">
          <label class="form-check-label font-small">
            <input class="form-check-input" type="checkbox" value="">
            <span class=" form-check-sign">
              <span class="check"></span>
            </span>
            <p class="font-weight-bold">Room</p>
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label font-small">
            <input class="form-check-input" type="checkbox" value="">
            <span class=" form-check-sign">
              <span class="check"></span>
            </span>
            <p class="font-weight-bold">Sofa </p>
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label font-small">
            <input class="form-check-input" type="checkbox" value="">
            <span class=" form-check-sign">
              <span class="check"></span>
            </span>
            <p class="font-weight-bold">Others </p>
          </label>
        </div>
      </div>

      <div class="col-6">
        <div class="form-check">
          <label class="form-check-label font-small">
            <input class="form-check-input" type="checkbox" value="">
            <span class="form-check-sign">
              <span class="check"></span>
            </span>
            <p class="font-weight-bold">Bed </p>
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label font-small">
            <input class="form-check-input" type="checkbox" value="">
            <span class=" form-check-sign">
              <span class="check"></span>
            </span>
            <p class="font-weight-bold">Hammcock </p>
          </label>
        </div>
      </div>
    </div>
  </div>
</div>







<div id="" class="card-detalhe" style="margin-top: 10px;">
  <div id="" class="card-descricao">
    <div class="d-flex justify-content-start">
      <p class="titulo">Extras</p>
    </div>

    <div class="row" style="padding-bottom: 10px;">
      <div class="col-6" style="border-right: 1px solid white;">
        <div class="row">
          <div class="col-6 d-flex align-items-center">
            <p style="padding-top: 7px" class="align-self-center">A / C ?</p>
          </div>
          <div class="col-6">
            <input type="text" placeholder="$" class="form-input">
          </div>
        </div>

        <div class="row">
          <div class="col-6 d-flex align-items-center">
            <p style="padding-top: 7px" class="align-self-center">Tv ?</p>
          </div>
          <div class="col-6">
            <input type="text" placeholder="$" class="form-input">
          </div>
        </div>

        <div class="row">
          <div class="col-6 d-flex align-items-center">
            <p style="padding-top: 7px" class="align-self-center">Wi-Fi ?</p>
          </div>
          <div class="col-6">
            <input type="text" placeholder="$" class="form-input">
          </div>
        </div>

      </div>

      <div class="col-6">
        <div class="row">
          <div class="col-6 d-flex align-items-center">
            <p style="padding-top: 7px" class="align-self-center">Ironing ?</p>
          </div>
          <div class="col-6">
            <input type="text" placeholder="$" class="form-input">
          </div>
        </div>

        <div class="row">
          <div class="col-6 d-flex align-items-center">
            <p style="padding-top: 7px" class="align-self-center">Shower ?</p>
          </div>
          <div class="col-6">
            <input type="text" placeholder="$" class="form-input">
          </div>
        </div>

        <div class="row">
          <div class="col-6 d-flex align-items-center">
            <p style="padding-top: 7px" class="align-self-center">Games ?</p>
          </div>
          <div class="col-6">
            <input type="text" placeholder="$" class="form-input">
          </div>
        </div>

      </div>
    </div>
  </div>
</div>




<div id="" class="card-detalhe" style="margin-top: 10px;">
  <div id="" class="card-descricao">
    <div class="d-flex justify-content-start">
      <p class="titulo">Time frame</p>
    </div>

    <div class="row" style="padding-bottom: 10px;">
      <div class="col-12 d-inline-flex">
        <p style="padding-top: 7px" class="align-self-center">Start:</p>
        <input type="date" placeholder="$" class="form-input-date">
        <p style="padding-top: 7px; padding-left: 10px;"  class="align-self-center">From:</p>
        <input type="time" placeholder="$" class="form-input-time" >
      </div>
    </div>

    <div class="row" style="padding-bottom: 10px;">
      <div class="col-12 d-inline-flex">
        <p style="padding-top: 7px; padding-left: 3px;" class="align-self-center">End:</p>
        <input type="date" placeholder="$" class="form-input-date">
        <p style="padding-top: 7px; padding-left: 25px;" class="align-self-center" >To:</p>
        <input type="time"  class="form-input-time" >
      </div>
    </div>

  </div>
</div>









<div id="" class="card-detalhe" style="margin-top: 10px;">
  <div id="" class="card-descricao">
    <div class="d-flex justify-content-start">
      <p class="titulo">Details</p>
    </div>

    <div class="row">
      <div class="col ">
        <textarea style="width: 100%" class="details-text-area"></textarea>

      </div>
    </div>
  </div>
</div>
<div class="row d-flex justify-content-center" style="margin-top: 10px; margin-bottom: 10px;">
  <div class="col-8 d-flex justify-content-center" style="background-color: #700000 ">
    <p class="titulo" style="font-weight: 100; color: white">UPLOAD PICTURES</p>
  </div>
</div>
