.scrolling-wrapper {
    /* overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap; */


    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 5px;
    padding-left: 10px;
  }

  .card {
    /* display: inline-block; */

    flex: 0 0 auto;
    width: 150px;
    height: 150px;
    margin: 5px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 20px;
  }

  .card::-webkit-scrollbar {
    display: none;
  }