.navbar-custom{
    background-image: #00BBF0 url('../../../assets/images/Capturar.JPG') ;
    
    /* Full height */
    /* height: 100%; 
    width: 100%; */
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: 50% 85%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-left: 0px;
    padding-right: 0px;
}

.barra-busca{
    width: 100%;
    color: white;
    background-color: rgba(155, 155, 155, 0.4);
    border-color: transparent !important;
}

.barra-busca:focus {
    background-color: rgba(155, 155, 155, 0.6);
}
