<nav class="navbar-custom navbar fixed-top">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <span class="navbar-text" style="width: 200px" >
            <fa style="margin-right: 10px;" name="ellipsis-v" size="2x" (click)="open()"></fa>
          <img src="../../../assets/images/logos/logo_topo.png" class="main-img" height="40px;" (click)="goHome()">
          <!-- <p>
            NAPP
          </p>
          <p style="margin-left: 15px; font-size: 12px;" > 
            to <span style="margin-left: 5px; font-size: 16px;"> GO</span>
          </p> -->
        </span>

      </div>
      <div class="col-8 d-flex justify-content-end">
        <ul style="list-style-type: none; margin-top: 10px;">
          <li style="text-align: end">
            <fa style="margin-right: 20px;" name="hand-o-up" size="lg"></fa>
            <!-- <fa name="hand-pointer-o"></fa> -->
            <fa style="margin-right: 20px;" size="lg" name="pencil"></fa>
            <fa name="user-o" size="lg"></fa>
          </li>
          <li style="text-align: end">
            Welcome, Marcio
          </li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <input type="text" placeholder="Search" class="barra-busca" (keydown)="navigate($event)">
      </div>
    </div>

  </div>
</nav>