<nav class="navbar-custom navbar fixed-top">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <span class="navbar-text" style="width: 200px">
          <p>
            NAPP
          </p>
          <p style="margin-left: 15px; font-size: 12px;" > 
            to <span style="margin-left: 5px; font-size: 16px;"> GO</span>
          </p>
        </span>

      </div>
      <div class="col-6 d-flex justify-content-end">
        <ul style="list-style-type: none; margin-top: 10px;">
          <li style="text-align: end">
            icons $ % &
          </li>
          <li style="text-align: end">
            Welcome, Marcio
          </li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <input type="text" placeholder="Search" class="barra-busca" (keydown)="navigate($event)">
      </div>
    </div>

  </div>
</nav>