<div class="row">
  <div class="col-2 d-flex justify-content-center align-items-center">
    <p class="filter-title">Plus</p>
  </div>
  <div class="col-8 d-flex justify-content-center align-items-center">
    <div class="filter">

      <div class="form-check">
        <label class="form-check-label font-small">
          <input class="form-check-input" type="checkbox" value="">
          <span class="form-check-sign">
            <span class="check"></span>
          </span>
          <fa style="padding-right:3px" name="shower"></fa>
        </label>
        <label class="form-check-label font-small">
          <input class="form-check-input" type="checkbox" value="">
          <span class="form-check-sign">
            <span class="check"></span>
          </span>
          <fa style="padding-right: 3px" name="tv"></fa>
        </label>

        <label class="form-check-label font-small">
          <input class="form-check-input" type="checkbox" value="">
          <span class="form-check-sign">
            <span class="check"></span>
          </span>
          <fa style="padding-right: 8px" name="gamepad"></fa>
        </label>
        <br>
        <label class="form-check-label font-small">
          <input class="form-check-input" type="checkbox" value="">
          <span class="form-check-sign">
            <span class="check"></span>
          </span>
          <fa style="padding-right: 3px" name="wifi"></fa>
        </label>

        <label class="form-check-label font-small">
          <input class="form-check-input" type="checkbox" value="">
          <span class="form-check-sign">
            <span class="check"></span>
          </span>
          <fa style="padding-right: 3px" name="codiepie"></fa>
        </label>
        <label class="form-check-label font-small">
          <input class="form-check-input" type="checkbox" value="">
          <span class="form-check-sign">
            <span class="check"></span>
          </span>
          <fa style="padding-right: 0px" name="thermometer-0"></fa>
        </label>

      </div>

    </div>
  </div>
  <div class="col-2 ">
    <div class="search-button">
    </div>
  </div>
</div>