<div id="" class="card-transparente">
  
  <div class="d-flex justify-content-start">
    <p class="titulo">Extra sugestions</p>
  </div>
  <div class="row" >
    <div class="col">
      <div class="form-check" style="margin-top: -5px;">
        <label class="form-check-label font-small">
          <input class="form-check-input" type="checkbox" value="">
          <span class="form-check-sign">
            <span class="check"></span>
          </span>
          <p style="font-size: 12px; font-weight: 600;">5 napp pack <span style="color: black; font-size: 14px;"> - 10%</span></p>
        </label>
      </div>
    </div>
    <div class="col">
      <div class="form-check" style="margin-top: -5px;">
        <label class="form-check-label font-small">
          <input class="form-check-input" type="checkbox" value="">
          <span class="form-check-sign">
            <span class="check"></span>
          </span>
          <p style="font-size: 12px; font-weight: 600;">insurance <span style="color: black; font-size: 14px;"> + $7,00</span></p>
        </label>
      </div>
    </div>
  </div>
  <div class="row" >
      <div class="col">
        <div class="form-check" style="margin-top: -5px;">
          <label class="form-check-label font-small">
            <input class="form-check-input" type="checkbox" value="">
            <span class="form-check-sign">
              <span class="check"></span>
            </span>
            <p style="font-size: 12px; font-weight: 600;">10 napp pack <span style="color: black; font-size: 14px;"> - 20%</span></p>
          </label>
        </div>
      </div>
      <div class="col">
        <div class="form-check" style="margin-top: -5px;">
          <label class="form-check-label font-small">
            <input class="form-check-input" type="checkbox" value="">
            <span class="form-check-sign">
              <span class="check"></span>
            </span>
            <p style="font-size: 12px; font-weight: 600;">security call <span style="color: black; font-size: 14px;"> + $5,00</span></p>
          </label>
        </div>
      </div>
    </div>
</div>