
.foreGroundContainer {
    /* index */
    z-index: 3;
    /* size */
    height: 80%; 
    width: 100%;
    /* bg-color */
    /* background-color: aqua !important; */
    background-color: transparent !important;

    padding-left: 120px;
    padding-right: 10px;

}

.barra-busca{
    width: 230%;
    color: white;
    background-color: rgba(155, 155, 155, 0.5);
    border-color: transparent !important;
}

.barra-busca:focus {
    background-color: rgba(155, 155, 155, 1);
}

.card-transparente {
    background-color: rgba(155, 155, 155, 0.5);
    margin-top: 30px;
}

.backGround-container {
    z-index: -1;
      position: fixed;
       /* The image used */
       background: #00BBF0 url('../assets/images/bg_blur.jpg') no-repeat center center fixed ;
       /* background-color: grey; */
  
       overflow: hidden;
       /* Full height */
       height: 812px; 
       width: 100%;
     
       /* Create the parallax scrolling effect */
       background-attachment: fixed;
       background-position: center;
       background-repeat: no-repeat;
       -webkit-background-size: 100% 812px;
       -moz-background-size: 100% 812px;
       -o-background-size: 100% 812px;
       background-size: 100% 812px;
}

     @media only screen 
     and (min-device-width: 360px)
      /* and (min-device-height: 640px)  */
      /* and (-webkit-device-pixel-ratio: 2)  */
      {
         .backGround-container {
             z-index: -1;
               position: fixed;
                /* The image used */
                background: #00BBF0 url('../assets/images/bg_blur.jpg') no-repeat center center fixed ;
                /* background-color: grey; */
           
                overflow: hidden;
                /* Full height */
                height: 640px; 
                width: 100%;
              
                /* Create the parallax scrolling effect */
                background-attachment: fixed;
                background-position: center;
                background-repeat: no-repeat;
                -webkit-background-size: 100% 640px;
                -moz-background-size: 100% 640px;
                -o-background-size: 100% 640px;
                background-size: 100% 640px;
       }
      }

     @media only screen 
    and (min-device-width : 375px)
    /* and (min-device-height : 667px)  */
    /* and (-webkit-device-pixel-ratio : 2)  */
    { 

        .backGround-container {
            z-index: -1;
              position: fixed;
               /* The image used */
               background: #00BBF0 url('../assets/images/bg_blur.jpg') no-repeat center center fixed ;
               /* background-color: yellowgreen; */
          
               overflow: hidden;
               /* Full height */
               height: 667px; 
               width: 100%;
             
               /* Create the parallax scrolling effect */
               background-attachment: fixed;
               background-position: center;
               background-repeat: no-repeat;
               -webkit-background-size: 100% 667px;
               -moz-background-size: 100% 667px;
               -o-background-size: 100% 667px;
               background-size: 100% 667px;
      }
    }

    @media only screen 
    and (min-device-width : 375px) 
    /* and (min-device-height : 812px)  */
    /* and (-webkit-device-pixel-ratio : 3) */
     {

        .backGround-container {
            z-index: -1;
              position: fixed;
               /* The image used */
               background: #00BBF0 url('../assets/images/bg_blur.jpg') no-repeat center center fixed ;
               /* background-color: green; */
          
               overflow: hidden;
               /* Full height */
               height: 812px; 
               width: 100%;
             
               /* Create the parallax scrolling effect */
               background-attachment: fixed;
               background-position: center;
               background-repeat: no-repeat;
               -webkit-background-size: 100% 812px;
               -moz-background-size: 100% 812px;
               -o-background-size: 100% 812px;
               background-size: 100% 812px;
      }

     }

    @media only screen 
    and (min-device-width : 414px) 
    /* and (min-device-height : 736px)  */
    /* and (-webkit-device-pixel-ratio : 3)  */
    { 
        .backGround-container {
            z-index: -1;
              position: fixed;
               /* The image used */
               background: #00BBF0 url('../assets/images/bg_blur.jpg') no-repeat center center fixed ;
               /* background-color: red; */
          
               overflow: hidden;
               /* Full height */
               height: 736px; 
               width: 100%;
             
               /* Create the parallax scrolling effect */
               background-attachment: fixed;
               background-position: center;
               background-repeat: no-repeat;
               -webkit-background-size: 100% 736px;
               -moz-background-size: 100% 736px;
               -o-background-size: 100% 736px;
               background-size: 100% 736px;
      }
    }

    .iphone-background-fix {
        z-index: -1;
        position: fixed;
         /* The image used */
         /* background: #00BBF0 url('../assets/images/bg_blur.jpg') no-repeat center center fixed ; */
         /* background-color: green; */
    
         overflow: hidden;
         /* Full height */
         height: 812px; 
         width: 100%;
       
         /* Create the parallax scrolling effect */
         background-attachment: fixed;
         background-position: center;
         background-repeat: no-repeat;
         -webkit-background-size: 100% 812px;
         -moz-background-size: 100% 812px;
         -o-background-size: 100% 812px;
         background-size: 100% 812px;
    }

    .iphone-img-fix {
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;
        min-width: 100%;
        min-height: 100%
    }

   

  
  