<div id="" class="card-detalhe" style="padding-top: 90px;">
  <div id="" class="card-descricao">

    <div class="row">
      <div class="col-3 ">
        <p style="font-size: 14px">sign up using:</p>
      </div>
      <div class="col-9 d-flex justify-content-between align-items-center">
        <fa class="icons" size="3x"  name="facebook-square"></fa>
        <fa class="icons" size="3x"  name="instagram"></fa>
        <fa class="icons" size="3x"  name="google-plus"></fa>
      </div>
    </div>
  </div>
</div>

<div class="card-input-form">

  <input type="text" placeholder="|  username" class="form-input">
  <input type="text" placeholder="|  password" class="form-input">
  <input type="text" placeholder="|  confirm password" class="form-input">
  <input type="text" placeholder="|  name and surname" class="form-input">
  <input type="text" placeholder="|  id number" class="form-input">
  <input type="text" placeholder="|  cellphone" class="form-input">
  <input type="text" placeholder="|  address" class="form-input">

</div>

<div id="" class="card-detalhe" style="margin-top: 5px;">
  <div id="" class="card-descricao">

    <div class="row">
      <div class="col-6">
        <div class="form-check">
          <label class="form-check-label font-small">
            <input class="form-check-input" type="checkbox" value="">
            <p class="font-weight-bold">I'm a napper </p>
            <span class=" form-check-sign">
              <span class="check"></span>
            </span>
          </label>
        </div>
      </div>

      <div class="col-6">
        <div class="form-check">
          <label class="form-check-label font-small">
            <input class="form-check-input" type="checkbox" value="">
            <p class="font-weight-bold">I'm a napp host </p>
            <span class="form-check-sign">
              <span class="check"></span>
            </span>
          </label>
        </div>
      </div>
    </div>
    <div style="border-bottom: 1px solid white;"></div>

    <div class="row">
      <div class="col-12" style="padding-bottom: 10px">
        <div class="form-check" style="margin-top: 5px;">
          <label class="form-check-label font-small">
            <input class="form-check-input" type="checkbox" value="">
            <p class="font-weight-bold">I'm not a robot</p>
            <span class="form-check-sign">
              <span class="check"></span>
            </span>
          </label>
        </div>
        <div class="form-check" style="margin-top: 5px;">
          <label class="form-check-label font-small">
            <input class="form-check-input" type="checkbox" value="">
            <p class="font-weight-bold">Disclaimer agree</p>
            <span class="form-check-sign">
              <span class="check"></span>
            </span>
          </label>
        </div>
        <div class="form-check" style="margin-top: 5px;">
          <label class="form-check-label font-small">
            <input class="form-check-input" type="checkbox" value="">
            <p class="font-weight-bold">Receive e-mail news and offers</p>
            <span class="form-check-sign">
              <span class="check"></span>
            </span>
          </label>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="row d-flex justify-content-center" style="margin-top: 20px; margin-bottom: 20px;">
  <div class="col-5">
    <img [src]="logoButton" class="main-img">
  </div>
</div>

<div class="row">
  <div class="col-6">
    <p class="text-special" >INSER VERIFICATION</p>
    <p class="text-special" >NUMBER SENT BY SMS</p>
  </div>
  <div class="col-6 d-flex justify-content-start">
      <input type="text" placeholder="|  verification number" class="form-input">
  </div>
  
</div>