<div style="padding-top: 145px"></div>
<div id="" class="card-detalhe">
  <div id="" class="card-descricao">

    <div class="row">
      <div class="col-3 ">
        <p style="font-size: 14px">sign up using:</p>
      </div>
      <div class="col-9 d-flex justify-content-between align-items-center">
        <fa class="icons" size="3x" name="facebook-square"></fa>
        <fa class="icons" size="3x" name="instagram"></fa>
        <fa class="icons" size="3x" name="google-plus"></fa>
      </div>
    </div>
  </div>
</div>

<div id="" class="card-detalhe" style="margin-top:20px;">
  <div id="" class="card-descricao">

    <div class="row">
      <div class="col-4">
        <img src="../../../assets/images/blank-user.jpg" class="round">
        <br>
        <p class="font-weight-bold">Add Photo</p>
      </div>
      <div class="col-8">
        <div class="row d-flex justify-content-center" style="margin-left: 14px;">
          <div class="col d-flex justify-content-center">
            <p class="">Upload an identification to validade your register</p>
          </div>
        </div>
        <div class="row d-flex justify-content-center">
          <div class="col-4 d-flex justify-content-end">
            <fa size="3x" name="id-card" style="color:white"></fa>
          </div>
          <div class="col-6 d-flex justify-content-start align-items-center" style="margin-left: -20px;">
            <p class="">Upload here</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="card-input-form">

  <input type="text" placeholder="|  username" class="form-input">
  <input type="text" placeholder="|  password" class="form-input">
  <input type="text" placeholder="|  confirm password" class="form-input">
  <input type="text" placeholder="|  name and surname" class="form-input">
  <input type="text" placeholder="|  id number" class="form-input">
  <input type="text" placeholder="|  cellphone" class="form-input">
  <input type="text" placeholder="|  address" class="form-input">

</div>

<div id="" class="card-detalhe" style="margin-top: 5px;">
  <div id="" class="card-descricao">

    <div class="row">
      <div class="col-6">
        <div class="form-check">
          <label class="form-check-label font-small">
            <input class="form-check-input" type="checkbox" value="">
            <span class=" form-check-sign">
              <span class="check"></span>
            </span>
            <p class="font-weight-bold">I'm a napper </p>
          </label>
        </div>
      </div>

      <div class="col-6">
        <div class="form-check">
          <label class="form-check-label font-small" (change)="host()">
            <input class="form-check-input" type="checkbox" value="">
            <span class="form-check-sign">
              <span class="check"></span>
            </span>
            <p class="font-weight-bold">I'm a napp host </p>
          </label>
        </div>
      </div>
    </div>
    <div style="border-bottom: 1px solid white;"></div>

    <div class="row">
      <div class="col-12" style="padding-bottom: 10px">
        <div class="form-check" style="margin-top: 5px;">
          <label class="form-check-label font-small">
            <input class="form-check-input" type="checkbox" value="">
            <span class="form-check-sign">
              <span class="check"></span>
            </span>
            <p class="font-weight-bold">I'm not a robot</p>
          </label>
        </div>
        <div class="form-check" style="margin-top: 5px;">
          <label class="form-check-label font-small">
            <input class="form-check-input" type="checkbox" value="">
            <span class="form-check-sign">
              <span class="check"></span>
            </span>
            <p class="font-weight-bold">Disclaimer agree</p>
          </label>
        </div>
        <div class="form-check" style="margin-top: 5px;">
          <label class="form-check-label font-small">
            <input class="form-check-input" type="checkbox" value="">
            <span class="form-check-sign">
              <span class="check"></span>
            </span>
            <p class="font-weight-bold">Receive e-mail news and offers</p>
          </label>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="row d-flex justify-content-center" style="margin-top: 20px; margin-bottom: 20px;">
  <div class="col-5">
    <img [src]="logoButton" class="main-img" (click)="register()">
  </div>
</div>

<div class="row">
  <div class="col-6">
    <p class="text-special">INSER VERIFICATION</p>
    <p class="text-special">NUMBER SENT BY SMS</p>
  </div>
  <div class="col-6 d-flex justify-content-start">
    <input type="text" placeholder="| verification number" class="form-input">
  </div>

</div>