<div class="row" (click)="navigate(local.id)">
    <div class="col">
        <img [src]=" localOrMap === false ? local.fotoUrl: local.fotoMap" class="main-img" style="max-height: 105px;">
    </div>
</div>

<div (click)="switchLocalToMap()" class="row d-flex justify-content-center align-items-center" style="margin-top:5px;" >
    <p style="color: white; font-size: 12px;">
        <fa name="star"></fa>
        <fa name="star"></fa>
        <fa name="star"></fa>
        <fa name="star"></fa>
        <fa name="star"></fa>
    </p>
</div>
<div (click)="switchLocalToMap()" class="row d-flex justify-content-center align-items-center" style="margin-top:-10px; margin-bottom: 5px;">
    <fa name="map-o" style="color: white; margin-right: 5px; font-size: 16px; margin-top: -5px;"></fa>
    <p>{{local.distance}}m from you</p>
</div>