.local-card {
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  margin-top: 20px;
  
}

.main-img {
  width: 100%;
  min-height: 105px;
  border-top-right-radius:20px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 0px;
}