<!-- SIDEBAR -->
<div id="mySidenav" class="sidenav">
  <nav class="navbar" style="background-color: transparent">
    <div class="container">
      <div class="row">
        <div class="col-4">
          <span class="navbar-text" style="width: 200px; margin-top: -15px;">
            <fa style="margin-right: 10px; filter: invert(100%);" name="ellipsis-v" size="2x" (click)="open()"></fa>
            <img src="../../../assets/images/logos/logo_topo.png" class="main-img" height="40px;" style="filter: invert(100%)">
            <!-- <p>
                NAPP
              </p>
              <p style="margin-left: 15px; font-size: 12px;" > 
                to <span style="margin-left: 5px; font-size: 16px;"> GO</span>
              </p> -->
          </span>

        </div>
        <a href="javascript:void(0)" class="closebtn" (click)="close()" style="color: black;">&times;</a>
      </div>
    </div>
  </nav>
  <div class="row " style="margin-left: 10px">
    <div class="col-4">
      <img src="../../../assets/images/user.JPG" class="round">
    </div>
    <div class="col-8 d-flex justify-content-start align-items-center">
      <ul style="list-style-type: none; padding: 0px; width: 100%; margin-top:15px;">
        <li class="li-itens-portrait">
          Igor Carvalho
        </li>
        <li class="li-itens-portrait">
          <p style="color: black;">
            Napper:
            <fa name="star"></fa>
            <fa name="star"></fa>
            <fa name="star"></fa>
            <fa name="star"></fa>
            <fa name="star"></fa>
          </p>
        </li>
      </ul>
    </div>
  </div>

  <hr style="width: 100%">
  <ul style="list-style-type: none">
    <li class="li-itens">
      <fa name="globe"></fa>
      RESERVATIONS
    </li>
    <li class="li-itens" style="padding-left: 3px;">
      <fa name="dollar" style="padding-right: 4px;"></fa>
      PAYMENT
    </li>
    <li class="li-itens">
      <fa name="user-o"></fa>
      ACCOUNT
    </li>
    <li class="li-itens" style="margin-left: -2px;">
      <fa name="users" style="padding-right: 0px;"></fa>
      INVITE FRIENDS
    </li>
    <li class="li-itens" style="margin-left: -1px;">
      <fa name="home" style="padding-right: 0px;"></fa>
      SHARE MY HOME
    </li>
    <li class="li-itens" style="padding-left: 3px;">
      <fa name="question" style="padding-right: 4px;"></fa>
      FAQ
    </li>
    <li class="li-itens">
      <fa name="sign-out"></fa>
      LOG OUT
    </li>
  </ul>
</div>