<!-- SIDEBAR -->
<div id="mySidenav" class="sidenav">
  <nav class="navbar" style="background-color: transparent">
    <div class="container">
      <div class="row">
        <div class="col-4">
          <span class="navbar-text" style="width: 200px">
            <img src="../../../assets/images/logos/logo_topo.png" class="main-img" height="40px;" style="filter: invert(100%)">
            <!-- <p>
                NAPP
              </p>
              <p style="margin-left: 15px; font-size: 12px;" > 
                to <span style="margin-left: 5px; font-size: 16px;"> GO</span>
              </p> -->
          </span>

        </div>
        <a href="javascript:void(0)" class="closebtn" (click)="close()" style="color: black;">&times;</a>
      </div>
    </div>
  </nav>
  <ul style="list-style-type: none">
    <li class="li-itens">COUNTRY</li>
    <li class="li-itens">LANGUAGE</li>
    <li class="li-itens">CURRENCY</li>
    <li class="li-itens">HELP</li>
    <li class="li-itens">LOG OUT</li>
  </ul>
</div>