.result-card {
    border-radius: 5px;
    border: 1px solid whitesmoke;
    background-color: rgba(0, 0, 0, 0.6);
    margin-bottom: 20px;
    height: 90px;
    
}

.main-img {
    width: 100%;
    height: 88px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.map-img {
    width: 100%;
    height: 88px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}