<div class="local-card" (click)="navigate(local.id)">
  <div class="row">
    <div class="col-9">
      <img [src]="local.fotoUrl" class="main-img">
    </div>

    <div class="col-3">
      <div class="row">
        <div class="col">
          <p style="font-size: 20px;
          width: 100%;
             position: relative;
             left: -45px; 
             top:30px;
             display: flex;
             justify-content: end;
             transform: rotate(270deg)">{{local.bairro}} </p>

          <div style="float: right; position: relative; top:-25px; left: -5px;
          font-size: 12px;">
            <p style="color: white;">
                <fa name="star"></fa>
                <fa name="star"></fa>
                <fa name="star"></fa>
                <fa name="star"></fa>
                <fa name="star"></fa>
            </p>
            <p style="font-style: 12px">{{local.distance}} km</p>
            <p><fa name="clock-o"></fa></p>
            <p><fa name="dollar" style="margin-right: 5px;"></fa>{{local.price}}</p>
          </div>

        </div>
      </div>
      <div class="row">
        <div class="col d-flex justify-content-end" style="padding-right: 20px; padding-bottom: 5px;">
          <p>@ # $ %</p>
          <p>@ # $ %</p>
        </div>
      </div>
    </div>
  </div>
</div>