<div style="padding-top: 130px"></div>
<app-payment ></app-payment>
<app-details></app-details>
<app-extras></app-extras>
<div class="row" style="margin-top: 10px;">
  <div class="col">
    <div class="form-check" style="padding-top:6px;">
      <label class="form-check-label font-small">
        <input class="form-check-input" type="checkbox" value="">
        <span class="form-check-sign">
          <span class="check"></span>
        </span>
        <p style="font-size: 14px; font-weight: 600;">DISCLAIMER AGREE</p>
      </label>
    </div>
  </div>
  <div class="col">
    <div class="form-check d-flex justify-content-end">
        <p style="font-size: 16px; font-weight: 600; background-color: rgba(0, 0, 0, 0.6); padding:5px;">TOTAL <span style="margin-right: 30px; border-bottom: 1px solid white"></span> $ 74,00</p>
    </div>
  </div>


</div>

<div class="row d-flex justify-content-center" style="margin-top: 20px; margin-bottom: 0px;">
  <div class="col-6">
    <img [src]="logoButton" class="main-img">
  </div>
</div>

<div class="row d-flex justify-content-center" style="margin-top: 0px; margin-bottom: 20px;">
  <div class="col-6 d-flex justify-content-center">
    <p>or <a style="font-size: 14px; text-decoration: underline;">CANCEL</a></p>
  </div>
</div>