@import url('https://fonts.googleapis.com/css?family=Poppins');

@font-face {
    font-family: 'kabeln';
    src: url('../src/assets/fonts/kabeln-webfont.eot');
    src: url('../src/assets/fonts/kabeln-webfont.eot?#iefix') format('embedded-opentype'),
         url('../src/assets/fonts/kabeln-webfont.woff2') format('woff2'),
         url('../src/assets/fonts/kabeln-webfont.woff') format('woff'),
         url('../src/assets/fonts/kabeln-webfont.ttf') format('truetype'),
         url('../src/assets/fonts/kabeln-webfont.svg#kabel_bk_btbook') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nucleo';
    src: url('../src/assets/fonts/nucleo.eot');
    src: url('../src/assets/fonts/nucleo.eot?#iefix') format('embedded-opentype'),
         url('../src/assets/fonts/nucleo.woff2') format('woff2'),
         url('../src/assets/fonts/nucleo.woff') format('woff'),
         url('../src/assets/fonts/nucleo.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

/* You can add global styles to this file, and also import other style files */
body{
      font-family: 'kabeln' !important;
}

.card-transparente {
    background-color: rgba(0, 0, 0, 0.2);
    margin-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

