@import url('https://fonts.googleapis.com/css?family=Poppins');

/* You can add global styles to this file, and also import other style files */
body{
        /* z-index: -1;
        position: fixed; */
         /* The image used */
      background-image: url('./assets/images/bg_1.jpg');
    
      /* Full height */
      height: 100%; 
      width: 100%;
    
      /* Create the parallax scrolling effect */
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      font-family: 'Poppins', sans-serif;
}

.card-transparente {
    background-color: rgba(0, 0, 0, 0.2);
    margin-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
}
