<app-sidebar></app-sidebar>
<app-navbar></app-navbar>
<div class="container-fluid" style="padding: 30px, 15px, 0, 15px;">
    <router-outlet></router-outlet>
</div>
<nav class="navbar" style="background-color: transparent">

    <!-- <img src="../../../assets/images/logos/logo_sensin.png" style="width: 100px" /> -->
    <hr style="width:100%; background-color: white;">
    <p style="font-size: 14px;">Copyright 2019 <span style="font-weight: 900; font-size: 16px;">NAPP to GO</span></p>
    <br>
    <p style="font-size: 14px;">Developed by - Sensin Games & Igor Carvalho</p>
    
</nav>